/*---------------------------------------------- PRINCIPAL--------------------------------------------------------------*/

/*--------------- HEADER ---------------------*/


/*--------------- CONTEUDO ---------------------*/

/*--------------- FOOTER ---------------------*/



/*---------------------------------------------- MEDIA QUERYS--------------------------------------------------------------*/



/*---------------------------------------------- HEADER--------------------------------------------------------------*/

/*---------------------------------------------- CONTEUDO--------------------------------------------------------------*/
.marcador{
    background: #fe9d9d;
    border: 1px solid red;
    
}

.marcador-container{
    background: #5bf946;
    border: 1px solid red;
    
}

.sep{
    border: 1px solid red;
}


/*---------------------------------------------- FOOTER--------------------------------------------------------------*/

